<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cos.domain.lecture">
	<select id="selectTitle" resultType="com.cos.domain.LectureVO">
		SELECT lcNum, lcTitle, ctNum FROM lecture WHERE ctNum = #{ctNum}
	</select>
	<select id="selectMaxNum" resultType="com.cos.domain.LectureVO">
		SELECT max(lcNum) lcNum FROM lecture WHERE ctNum = #{ctNum}
	</select>
	<select id="selectMinNum" resultType="com.cos.domain.LectureVO">
		SELECT min(lcNum) lcNum FROM lecture WHERE ctNum = #{ctNum}
	</select>
	<select id="select" resultType="com.cos.domain.LectureVO">
		SELECT * FROM lecture WHERE lcNum = #{lcNum}
	</select>
	<delete id="delete">
		DELETE FROM lecture WHERE lcNum = #{lcNum}
	</delete>
	<update id="update">
		UPDATE lecture SET lcTitle = #{lcTitle}, lcContent = #{lcContent} WHERE lcNum = #{lcNum}
	</update>
	<update id="updateReadCount">
		UPDATE lecture SET lcReadCount = lcReadCount + 1 WHERE lcNum = #{lcNum}
	</update>
    <insert id="insert">
        INSERT INTO lecture(lcTitle, lcContent, lcWriteDate, lcReadCount, ctNum, userID) VALUES(#{lcTitle}, #{lcContent}, now(), 0, #{ctNum}, "admin")
    </insert>
</mapper>